body {
    background-color: rgb(245, 139, 195);
font-family: 'Courier New', Courier, monospace;
    
}
h1 {
    text-align: center;
}
 .content h3 {
    text-align: center;
    
    margin: 0;
    padding: 0;
    background-color:pink;
    color: black;
   
 }

 .content {
    background-color:pink;
    color: black;
 }
 .defintion-list h4 {
    text-align: center;
    
    margin: 0;
    padding: 0;
    background-color:pink;
    color: black;
 }

 .defintion-list{
    text-align: center;
    background-color:pink;
    color: black;
 }

 .paragraphs, .emphasis, .blockquote-thing, .italic-font, .bold-font, .strong-font, .assigment {
    background-color:pink;
    color: black;
 }

 .assigment h2 {
    text-align: center;
    
    margin: 0;
    padding: 0;
    background-color:pink;
    color: black;
 }

 .img-pink {
    width: 150px;
    border-radius: 100px;
    float: inline-end;
 }

 .img-pink-group {
    width: 150px;
    border-radius: 100px;
  

 }

 .img-pink-2{
    width: 120px;
    border-radius: 100px;
   
 }
 
 .heading{
    
    font-size: larger;
    background-color:pink;
    color: black;
 }

 footer {
   background-color:pink;
 }